spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  source:
    targetRevision: HEAD

  syncPolicy: 
    automated:
      prune: true
      selfHeal: true

ingress:
  domain: localhost

cors:
  originEnds: localhost

config:
  tag: latest
  branch: HEAD

rcs:
  tag: latest
  branch: HEAD

rs:
  tag: latest
  branch: HEAD

ui:
  tag: latest
  branch: HEAD
  templateName: forgerock

ig:
  tag: latest
  branch: HEAD

mongodb:
  auth:
    enabled: false

externalCert:
  projectId: example-project
  defaultWildcardSecret: false
  secretName: sslcert
  certPrefix: dev

# environment.type: It can be:
# CDK value: (Cloud Developer's Kit) development identity platform
# CDM value: CDM (Cloud Deployment Model) identity cloud platform
# FIDC value: Cloud Deployment Model) identity cloud platform
environment:
  type: CDK
